.about {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.about__heading {
  margin: 0 0 50px 0;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.about__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.about__thumb {
  position: relative;
}

.about__img {
  display: block;
}

.about__description {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
