.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include tablet {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__item {
  @include tablet {
    width: 354px;
  }

  @include desktop {
    width: 270px;
  }
}

.features__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
  height: 120px;
  background-color: $secondary-bg-color;
  border-radius: 4px;
}

.features__heading {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    text-align: left;
  }
}

.features__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $secondary-text-color;
}
