.menu-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: scroll;
  background-color: $primary-bg-color;
  transform: translateX(100%);
  @extend .transition;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  min-height: 40px;
  min-width: 40px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  fill: currentColor;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
    @extend .transition;
  }

  &--position {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  @include tablet {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.mobile-menu__nav-item,
.mobile-menu__contacts-item {
  list-style: none;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__nav-link {
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  &--current {
    margin-left: 4px;
    color: $accent-color;
  }
}

.mobile-menu__contacts {
  list-style: none;
  margin: 0 0 64px 0;
  padding: 0;
}

.mobile-menu__contacts-link {
  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-color;

  &--mail {
    font-size: 24px;
    color: $secondary-text-color;
  }
}

.mobile-menu__soc {
  display: flex;
  margin: 0;
  gap: 10px;
  list-style: none;
  padding-left: 0;
}

.mobile-menu__soc-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mobile-menu__soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
