.menu-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: scroll;
  background-color: $primary-bg-color;
  transform: translateX(100%);
  @extend .transition;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  min-height: 40px;
  min-width: 40px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  fill: currentColor;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
    @extend .transition;
  }

  @include tablet {
    display: none;
  }

  &--position {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__nav-item,
.mobile-menu__contacts-item {
  &:not(:last-child) {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 32px;
    }
  }
}

.mobile-menu__nav-link {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  @include mobile {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
  }

  &--current {
    display: block;
    margin-left: 4px;
    color: $accent-color;
  }
}

.mobile-menu__contacts {
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 64px;
  }
}

.mobile-menu__contacts-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-color;

  @include mobile {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
  }

  &--accent {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $secondary-text-color;

    @include mobile {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2;
    }
  }
}

.mobile-menu__sns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include mobile {
    flex-wrap: nowrap;
  }
}

.mobile-menu__sns-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-color;

  @include mobile {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.mobile-menu__sns-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
