.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.page-footer {
  padding-top: 60px;
  background-color: $footer-bg-color;
}

.address {
  margin: 20px 0 0 0;
  padding: 0 0 60px 0;
  list-style: none;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;

  &:hover,
  &:focus {
    color: $accent-color;
    @extend .transition;
  }
}

.address__mail,
.address__tel {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-color;
    @extend .transition;
  }
}

.footer-cta {
  margin: 0;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer__social {
  margin: 20px 0 0 0;
  padding: 0;
}

.page-footer__social__link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.sub__items {
  display: flex;
  margin: 20px 0 0 0;
}

.sub__input {
  margin: 0 12px 0 0;
  padding: 0 0 0 16px;
  width: 358px;
  height: 50px;
  background: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:focus {
    border: 1px solid $accent-color;
    @extend .transition;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.sub__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  border: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #188ce8;
    @extend .transition;
  }
}

.sub__icon {
  fill: currentColor;
  margin-left: 10px;
}
